<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" />
 
  </system.web>
  <connectionStrings>
    <add name="RptsConnection" connectionString="Data Source=AYS-07\sqlayssa;Initial Catalog=DICA_2;Persist Security Info=True;User ID=sa;Password=vulcano" />
  </connectionStrings>
  <appSettings>
    <!--  AYS-07  -->
    <add key="ConexionSIS" value="Data Source=AYS-07\sqlayssa;Initial Catalog=DICA_2;Persist Security Info=True;User ID=sa;Password=vulcano" />
  </appSettings>
</configuration>