<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1">

    </compilation>
    <httpRuntime targetFramework="4.6.1" />

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>

  <connectionStrings>
    <add name="RptsConnection" connectionString="Data Source=AYS-10;Initial Catalog=BK_DB_UIE_20161110;Persist Security Info=True;User ID=sa;Password=vulcano" />
  </connectionStrings>

  <appSettings>
     <!--  AYS-10  -->
    <add key="ConexionSIS" value="Data Source=AYS-10;Initial Catalog=BK_DB_UIE_20161110;Persist Security Info=True;User ID=sa;Password=vulcano" />
    </appSettings>
</configuration>